#midcolumn {
	background: url('background.jpg') top left repeat-x;
}

#midcolumn div,span,p,blockquote,pre,code,em,sub,sup,dl,dt,dd,ol,ul,fieldset,form,legend,table,caption,tbody,tfoot,thead,tr,th,td {
    line-height: 12px;
}

#midcolumn li {
	margin-right: 0px;
	padding-right: 0px;
}

#midcolumn img {
 padding-top: 2px;
}

.repo-info td {
	padding: 0px;
}

.repo-item {
	margin-right: 0px;
	padding-right: 0px;
}

.repo-label1 {
  color: #000000;
  font-size: 18pt;
}

.repo1 {
	padding: 5px 0px 5px 0px;
  border-bottom: 3px solid #D4D4DD;
}

.repo-label2 {
  color: #000000;
  font-size: 14pt;
}

.repo2 {
	padding: 5px 0px 5px 0px;
}

.drop-label {
  color: #000000;
  font-size: 12pt;
  font-weight: bold;
	margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.drop {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 10px 0px 5px 0px;
}

.drop-info {
	padding-top: 3px;
}

.drop-info td {
	padding: 1px;
}

.drop-separator {
	border: none;
	border-bottom: 2px solid #D4D4DD;
	margin-bottom: 3px;
  margin-top: 3px;
}

.file-size {
	text-align: right;
}

.level1 {
	padding-right: 49px;
}

.level2 {
	padding-right: 26px;
}

