#midcolumn {
	background: url('background.jpg') top left repeat-x;
	margin: 0pt;
	padding: 5px 5px 5px 5px;
}

.repo-label1 { 
 font-size: 16pt;
}

.repo-label2 { 
 font-size: 14pt;
}

.repo {
 padding-top: 10px;
}

.drop {
 padding-top: 10px;
}
