#midcolumn {
	background: url('background.jpg') top left repeat-x;
}

.repo-label1 { 
  font-size: 18pt;
  border-bottom: 2px solid #D4D4DD;
}

.repo-label2 { 
  font-size: 14pt;
}

.drop-label { 
  font-size: 12pt;
  font-weight: bold;
}

.repo {
	padding: 5px 5px 5px 0;
}

.drop {
	padding: 5px 5px 5px 0;
}
