td {
  padding: 1px;
}

td.file-size {
  text-align: right;
}

.repo-item a,
.repo-item span {
  vertical-align: top;
}

.repo1,
.repo2,
.drop {
  margin-left: 22px;
}

.repo-label1 {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 3px;
}

.repo-label2 {
  font-size: 16px;
  font-weight: bold;
  border-bottom: 3px;
}

.drop-label {
  font-size: 16px;
  font-weight: bold;
  border-bottom: 3px;
}

.drop-separator {
  margin-top: 3px;
  margin-bottom: 3px;
}