body {
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #0000FF;
  text-decoration: underline;
}

table, th, td {
  border-collapse: collapse;
	border: 1px solid #C0C0C0;
  background-color: #FFFFFF;
}

thead th {
  background-color: #F0F0FF;
}

th {
  vertical-align: top;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

th[scope=row] {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 1;
  text-align: left;
  font-weight: normal;
}

td {
  text-align: center;
}

