@import "https://eclipse.dev/eclipse.org-common/themes/solstice/public/stylesheets/astro.min.css?v0.0.272";
@import "https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";


.breadcrumbs-default-margin {
  margin-bottom: 5px;
}

.header_nav {
  padding-bottom: 5px;
}

.banner {
  margin-top: -5px;
  margin-bottom: 20px;
  width: 100%;
  object-fit: contain;
}

.image-block {
  width: 80%;
  object-fit: contain;
}

.center {
  text-align: center;
}

.indent {
  margin-left: 20px;
}

.indent h4 {
  margin-bottom: 0px;
}

.button,
.button:link,
.button:visited {
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 2.5em;
  text-decoration: none;
}

.button-neutral,
.button-neutral:link,
.button-neutral:visited {
  background-color: #eeeeee;
  color: black;
}

.button-neutral:hover,
.button-neutral:active {
  background-color: #cccccc;
}

.button-download,
.button-download:link,
.button-download:visited {
  background-color: #f06c00;
  color: white;
}

.button-download:hover,
.button-download:active {
  background-color: #bd5500;
}