#midcolumn {
	width: 700px;
}

p, table {
  margin-bottom: 2px;
}

.blurb {
  margin-bottom: 10px;
}

#leftnav li.separatorNolink {
  margin-top: 20px;
  margin-left: 10px;
  font-weight: bold;
  list-style-type: none;
  list-style-image: url('https://www.eclipse.org/cdo/images/empty.gif');
}
