#midcolumn {
	width: 700px;
}

p, table {
  margin-bottom: 2px;
}

.blurb {
  margin-bottom: 10px;
}

li.separatorNolink {
  font-weight: bold;
  margin-top: 2em;
  list-style-type: none;
  list-style-image: url('https://www.eclipse.org/cdo/images/empty.gif');
}
