#pagetitle {
	color: #0D3656;
	font-size: 32px;
	margin-bottom: 10px;
}

.titlerow {
	color: #575757;
	font-size: 20px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	background-color: #E8E7DD;
	border-bottom: 2px solid #FFFFFF;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 0;
	padding: 8px 5px;
}

.detailrow {
	background: transparent
		url(/eclipse.org-common/themes/Nova/images/thinModalBg.png) repeat-x
		scroll 0 0;
	height: 100px;
}

.iconcol {
	text-align: right; vertical-align : top;
	padding: 5px;
	vertical-align: top; padding : 5px;
	width: 280px;
}

.infocol {
	vertical-align: top;
	margin-top: -58px;
	margin-left: 300px;
}