#midcolumn {
	background: url('background.jpg') top left repeat-x;
}

#midcolumn ul,#midcolumn ol {
	margin-top: 7px;
	margin-left: 20px;
}

#midcolumn li {
	padding-top: 0px;
	padding-bottom: 0px;
	list-style-image:
		url('/eclipse.org-common/themes/Nova/images/homeitemBulletIE.gif');
}