#pagetitle {
	color: #0D3656;
	font-size: 32px;
	margin-bottom: 10px;
}

.diagram {
	margin-left: -33px;
}

.box {
	background-color: #EEEEEE;
	border: 1px solid #AAAAAA;
	padding: 10px;
	margin-bottom: 36px;
}

.state {
	margin-bottom: 10px;
}

.transitions {
	margin-bottom: 0px;
}

.trans {
	padding-top: 20px;
	margin-bottom: 0px;
}

.actions {
	margin-bottom: 0px;
}