#pagetitle {
	color: #0D3656;
	font-size: 32px;
	margin-bottom: 10px;
}

.box {
	background-color: #EEEEEE;
	border: 1px solid #AAAAAA;
	padding: 10px;
	margin-bottom: 36px;
}

.trans {
	padding-top: 20px;
}