#breadcrumbs {
	text-align: left;
	margin-bottom: -17px;
}

#breadcrumbs a {
	font-weight: normal;
}

#toolbar {
	text-align: right;
	border-bottom: 1px solid #D4D4DD;
	padding-bottom: 1px;
}

#midcolumn {
	color: #0D3656;
}

#toc ul,#toc ol {
	margin-left: 11px;
	padding-top: 0px;
	padding-bottom: 0px;
}

#toc li {
	padding-top: 4px;
	padding-bottom: 0px;
	list-style-image: none;
}

.familylinks,.relconcepts {
	margin-top: 20px;
}