#midcolumn ul,#midcolumn ol {
	margin-left: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
}

#midcolumn li {
	padding-top: 4px;
	padding-bottom: 0px;
	/* list-style-image:
		url('/eclipse.org-common/themes/Nova/images/homeitemBulletIE.gif'); */
}

.familylinks,.relconcepts {
	margin-top: 20px;
}